<!--导航图-->
<style>
    .content-nav-img {
        margin: 30px 0px;
        text-align: center;
    }

    .content-nav-img img {
        text-align: center;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 10px solid rgba(244, 238, 223, 0.9);
        transition: .3s;
    }

    .content-nav-img img:hover {
        border: 10px solid rgba(220, 188, 180, 0.9);
    }
</style>
<div class="row content-nav-img">
    <div class="col-xs-2">
        <a href="#"><img src="__PUBLIC__/Home/images/travel/jindian.png"/></a>
    </div>
    <div class="col-xs-2">
        <a href="#"><img src="__PUBLIC__/Home/images/travel/meishi.png"/></a>
    </div>
    <div class="col-xs-2">
        <a href="#"><img src="__PUBLIC__/Home/images/travel/zhusu.png"/></a>
    </div>
    <div class="col-xs-2">
        <a href="#"><img src="__PUBLIC__/Home/images/travel/yule.png"/></a>
    </div>
    <div class="col-xs-2">
        <a href="#"><img src="__PUBLIC__/Home/images/travel/daolan.png"/></a>
    </div>
    <div class="col-xs-2">
        <a href="#"><img src="__PUBLIC__/Home/images/travel/gouwu.png"/></a>
    </div>
</div>