<div class="col-md-4 main-left">
    <div class="text-center">
        <img src="__PUBLIC__/Home/images/traffic.png">
        <h4 class="nav-menu-bar"><a href="#">交通信息</a></h4>
        <h4 class="nav-menu-bar"><a href="#">交通路线</a></h4>
        <h4 class="nav-menu-bar"><a href="#">景区游览</a></h4>
    </div>
    <div class="contact">
        <div class="bg">
            <p class="phone-title">联系电话:</p>
            <div class="contact-item-1">
                <img class="phone-img" src="__PUBLIC__/Home/images/icon-phone_2.png">
                <span class="contact-detail phone">{:C('WEB_SITE_FUWUPHONE')}</span>
            </div>
            <div class="bottom-split-line"></div>
            <p class="address-title">联系地址:</p>
            <div class="contact-item-2">
                <img class="position-img" src="__PUBLIC__/Home/images/icon-position.png">
                <span class="contact-detail address">{:C('WEB_SITE_ADDRESS')}</span>
            </div>
        </div>
    </div>
</div>