<!--title-->
<div class="row content-title">
    <img src="__PUBLIC__/Home/images/travel/travel_eat.png"/>
    <label class="more"><a href="{:U('Travel/lists',array('cat_id'=>43))}">MORE</a></label>
</div>
<!--推荐详情-->
<div class="row content-view-list">
    <volist name="eat_list" id="vo">
        <div class="col-xs-3 foods-item">
            <a href="{:U('Travel/detail',array('id'=>$vo['id']))}">
                <img class="img-lazy foods-img"
                     src="__PUBLIC__/Home/images/loading.gif"
                     data-original="{:get_cover($vo['cover_id'],'path')}"/>
                <div class="foods-hover-show-box">
                    <div class="foods-hover-show">
                        <span class="foods-name">{$vo.title}</span>
                    </div>
                </div>
            </a>
        </div>
    </volist>
</div>