<extend name="Base/common"/>


<block name="body">
    <style>
        body {
            background: url("__PUBLIC__/Home/images/bg-index.jpg");
        }

        #main-container.container {
            background-color: transparent;
        }

        .main-rowMap {
            background-color: rgba(236, 237, 239, 0.9);
        }

        .main-rowMap .rm-left {
            background: url("__PUBLIC__/Home/images/index/indexIntroduce.png");
            background-size: 100% 100%;
            height: 380px;
            width: 100%;
        }

        .main-rowMap .rm-left .rm-content {
            height: 350px;
            text-align: left;
            font-size: 14px;
            float: left;
            padding: 120px 50px;
            word-wrap: break-word;
            word-break: normal;
        }

        .main-rowMap .bid-show-img {
            height: 380px;
        }

        .main-rowMap .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
            height: 380px;
        }

        .main-rowMap .carousel-indicators {
            background-color: rgba(82, 82, 82, 0.73);
            position: absolute;
            bottom: 10px;
            z-index: 15;
            width: 100%;
            text-align: right;
            list-style: none;
            left: 30%;
            padding: 10px 20px;
        }

        /*第一部分结束*/

        .main-rowProgram {
            background-color: rgba(231, 241, 236, 0.94);
            margin-top: 10px;
            padding-top: 20px;
            padding-bottom: 15px;
        }

        .main-rowProgram .col-xs-2 {
            margin-bottom: 20px;
        }

        .main-rowProgram .col-xs-2 img {
            border: 10px solid #f2dede;
            border-radius: 100%;
            transition: .3s;
            width: 100%;
            height: 100%;
        }

        .main-rowProgram .col-xs-2 .rp-textStyle {
            text-align: center;
            font-size: 18px;
            color: #D34132;
        }

        .main-rowProgram .col-xs-2 img:hover {
            border: 10px solid #cbb7b7;
        }

        .main-rowProgram .col-xs-3 img {
            height: auto;
            cursor: pointer;
        }

        .main-rowProgram .col-xs-3 .title {
            margin-top: 10px;
            text-align: center;
            font-size: 16px;
        }

        /**项目**/
        .main-rowDetail {
            background-color: rgba(233, 230, 204, 0.8);
            margin-top: 10px;
            font-size: 16px;
            padding: 20px;
        }

        /**结束介绍**/

        .main-rowSpecial {
            background-color: rgba(251, 216, 175, 0.9);
            margin-top: 10px;
            position: relative;
        }

        .main-rowSpecial .col-xs-2 {
            padding: 10px 15px 30px;
        }

        .main-rowSpecial .col-xs-2 img {
            height: 160px;
            width: 100%;
            border-radius: 100%;
        }

        .main-rowSpecial .rs-top {
            background: url("__PUBLIC__/Home/images/index/bg-special-top.png");
            background-size: 100% 100%;
            margin-top: -15px;
            height: 50px;
            width: 100%;
        }

        .main-rowSpecial .rs-botton {
            background: url("__PUBLIC__/Home/images/index/bg-special-top.png");
            background-size: 100% 100%;
            width: 100%;
            height: 50px;
            position: absolute;
            bottom: -15px;
        }

        .main-rowSpecial .rp-textStyleRec {
            text-align: center;
            font-size: 16px;
            font-weight: 600;
        }

        .main-rowSpecial .rs-flowerDetail {
            padding: 10px 2px;
            height: 65px;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .main-rowSpecial .rs-flowerDetailMore {
            text-align: right;
            margin-top: 10px;
        }

        .main-rowSpecial .rs-flowerDetailMore a {
            color: #D34132;
        }

        .main-rowNews, .main-rowService, .main-rowTraffic {
            background-color: rgba(226, 234, 228, 0.92);
            padding-top: 20px;
            min-height: 300px;
        }

        /*通用标题*/
        .top-title .bg-flower-left img, .top-title .bg-flower-right img {
            height: 20px;
            width: 100%;
        }

        .top-title {
            margin: 0px;
        }

        .top-title .title-center {
            margin-top: -15px;

        }

        .top-title .title-en {
            font-size: 18px;
            padding: 0px;
        }

        .top-title .title-zn {
            font-size: 24px;
            margin-top: -5px;
            margin-bottom: 0px;
        }
    </style>

    <div class="row main-rowMap" style="margin-top: 5px;">
        <!-- 内容map左边 -->
        <div class="col-xs-4">
            <div class="rm-left">
                <div class="rm-content">
                    &nbsp;&nbsp;&nbsp;&nbsp;花漫淯江，位于四川省宜宾市长宁县长宁
                    镇占地约500亩，总投资约2000万元。项
                    目地势高低起伏，精选郁金香、蝴蝶兰、
                    虞美人、紫罗兰、三色堇、雏菊等近20
                    个极具观赏性花卉品种，结合精致的园
                    艺小品，立体展现大自然田园风貌，让
                    您更亲近，感受田园乡村情怀。
                </div>
            </div>
        </div>

        <!-- 内容map右边 -->
        <div class="col-xs-8 masthead">
            <div id="show-img" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#show-img" data-slide-to="0" class="active"></li>
                    <li data-target="#show-img" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="bid-show-img img-responsive"
                             src="__PUBLIC__/Home/images/banner/banner-2.png"
                             alt="">
                    </div>
                    <div class="item">
                        <img class="bid-show-img img-responsive"
                             src="__PUBLIC__/Home/images/banner/banner-1.png"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 旅游项目 -->
    <div class="row main-rowProgram" style="margin-top: 5px;">
        <div class="rp-background">
        </div>
        <!--标题通用-->
        <div class="top-title row">
            <div class="col-xs-5 bg-flower-left">
                <img class="img-responsive" src="__PUBLIC__/Home/images/index/bg-flower.png">
            </div>
            <div class="col-xs-2 title-center text-center">
                <label class="title-zn">旅游项目</label>
                <div class="title-en">Tourism Projects</div>
            </div>
            <div class="col-xs-5 bg-flower-right">
                <img class="img-responsive" src="__PUBLIC__/Home/images/index/bg-flower.png">
            </div>
        </div>

        <div class="col-xs-2">
            <a href="{:U('Travel/lists?cat_id=42')}">
                <img src="__PUBLIC__/Home/images/loading.gif"
                     data-original="__PUBLIC__/Home/images/index/service-play.png" class="img-lazy img-responsive"/>
                <div class="rp-textStyle">
                    景点
                </div>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="{:U('Travel/lists?cat_id=43')}">
                <img src="__PUBLIC__/Home/images/loading.gif"
                     data-original="__PUBLIC__/Home/images/index/service-eat.png" class="img-lazy img-responsive"/>
                <div class="rp-textStyle">
                    美食
                </div>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="{:U('Travel/lists?cat_id=47')}">
                <img src="__PUBLIC__/Home/images/loading.gif"
                     data-original="__PUBLIC__/Home/images/index/service-live.png" class="img-lazy img-responsive"/>
                <div class="rp-textStyle">
                    住宿
                </div>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="{:U('Travel/lists?cat_id=46')}">
                <img src="__PUBLIC__/Home/images/loading.gif"
                     data-original="__PUBLIC__/Home/images/index/service-yu.png" class="img-lazy img-responsive"/>
                <div class="rp-textStyle">
                    娱乐
                </div>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="{:U('Travel/lists?cat_id=44')}">
                <img src="__PUBLIC__/Home/images/loading.gif"
                     data-original="__PUBLIC__/Home/images/index/service-view.png" class="img-lazy img-responsive"/>
                <div class="rp-textStyle">
                    导览
                </div>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="{:U('Travel/lists?cat_id=45')}">
                <img src="__PUBLIC__/Home/images/loading.gif"
                     data-original="__PUBLIC__/Home/images/index/service-buy.png" class="img-lazy img-responsive"/>
                <div class="rp-textStyle">
                    购物
                </div>
            </a>
        </div>

        <!---->

        <php>

            $map['id']=array('in',array('122','123','124','125'));
            $myArticles=getSomeArticles($map);
        </php>

        <volist name="myArticles" id="vo" key="key">
            <div class="col-xs-3 indexA-key" data-target="indexA-item-{$key}">
                <a href="#">
                    <img class="img-lazy img-responsive"
                         src="__PUBLIC__/Home/images/loading.gif"
                         data-original="{:get_cover($vo['cover_id'],'path')}">
                    <div class="title" style="color: #000">
                        {$vo.title}
                    </div>
                </a>
            </div>
        </volist>
    </div>

    <!--介绍-->
    <div class="row main-rowDetail" style="margin-top: 0px;">
        <volist name="myArticles" id="vo" key="key">
            <p class="indexA-item indexA-item-{$key}" style="display: none;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {$vo.description}
            </p>
        </volist>
    </div>
    <script>

        $(function () {
            $(".indexA-item-1").show();//显示第一个
            $(".indexA-key").hover(function () {
                var cs = $(this).attr('data-target');
                $(".indexA-item").hide();
                $("." + cs + "").show();
            });


        });

    </script>


    <!--特色-->
    <div class="row main-rowSpecial" style="margin-top: 5px;">
        <php>$viewArticle=getIndexViewSp()</php>
        <div class="rs-top">
        </div>
        <!--标题通用-->
        <div class="top-title row">
            <div class="col-xs-4 col-xs-offset-4 title-center text-center">
                <label class="title-zn">景区特色</label>
                <div class="title-en">FEATURES OF SCENIC SPOT</div>
            </div>
        </div>
        <volist name="viewArticle" id="vo">
            <div class="col-xs-2">
                <img class="img-lazy img-responsive"
                     src="__PUBLIC__/Home/images/loading.gif"
                     data-original="{:get_cover($vo['cover_id'],'path')}"/>
                <div class="rp-textStyleRec">
                    {$vo.title}
                </div>
                <div class="rs-flowerDetail">
                    <p>{$vo.description}</p>
                </div>
                <div class="rs-flowerDetailMore">
                    <a href="{:U('Article/detail',array('id'=>$vo['id']))}">查看详情<<</a>
                </div>
            </div>
        </volist>

        <!---->
        <div class="rs-botton">
        </div>
    </div>


    <style>
        .main-rowNews .news-list {
            margin: 20px 5px;
        }

        .main-rowNews .news-list li {
            height: 60px;
            background-color: #EDC594;
            line-height: 60px;
            cursor: pointer;
            padding-left: 20px;
            font-size: 18px;
            margin-top: 3px;
        }

        .main-rowNews .news-list li a {
            color: #000;
        }

        .main-rowNews .news-list li:hover {
            background-color: #bfbfbf;
        }

        .main-rowNews .news-list li:hover a {
            color: #fff;
        }

        .main-rowNews .news-list img {
            height: 260px;
        }
    </style>

    <!---景区新闻-->
    <div class="row main-rowNews" style="margin-top: 5px;">
        <!--标题通用-->
        <div class="top-title row">
            <div class="col-xs-5 bg-flower-left">
                <img class="img-responsive" src="__PUBLIC__/Home/images/index/bg-flower.png">
            </div>
            <div class="col-xs-2 title-center text-center">
                <label class="title-zn">景区新闻</label>
                <div class="title-en">SCENIC NEWS</div>
            </div>
            <div class="col-xs-5 bg-flower-right">
                <img class="img-responsive" src="__PUBLIC__/Home/images/index/bg-flower.png">
            </div>
        </div>

        <div class="row news-list">

            <div class="col-xs-3">
                <img class="img-lazy img-responsive" data-original="__PUBLIC__/Home/images/index/special-2.png">
            </div>
            <div class="col-xs-3">
                <img class="img-lazy img-responsive" data-original="__PUBLIC__/Home/images/index/special-2.png">
            </div>
            <div class="col-xs-6" style="margin-top: 10px">
                <php>
                    $indexNews=getIndexNews(4);
                </php>
                <ul class="list-unstyled list-group">
                    <volist name="indexNews" id="vo">
                        <li>
                            <a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">
                                {$vo.title}
                                <span style="font-size: 16px;padding-right: 10px;" class="pull-right">{$vo.create_time|date='Y-m-d',###}</span>
                            </a>
                        </li>
                    </volist>

                </ul>


            </div>
        </div>


    </div>

    <style>
        .main-rowService .s-head {
            height: 70px;
        }

        .main-rowService {
            padding-bottom: 15px;
        }

        .main-rowService .s-head p {
            text-align: center;
            margin: 0px;
        }

        .main-rowService .big-title {
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            margin: 0px;
        }

        .main-rowService .news-list {
            margin: 0px;
        }

        .main-rowService .news-list .ticket {
            text-align: center;
        }

        .main-rowService .news-list .ticket .btn {
            background-color: #5DB957;
            margin: 50px 0px;
            height: 60px;
            line-height: 45px;
            vertical-align: middle;
            color: #fff;
            font-size: 18px;
        }

        .main-rowService .news-list .ticket .btn:first-child {
            margin-top: 10px;
        }

        .main-rowService .news-list .ticket .btn:hover {
            background-color: #53a651;
        }

        .main-rowService .index-staregy .content {
            border: 1px solid #000000;
            padding: 2px;
            height: 350px;
        }

        .main-rowService .index-staregy .content .show-img img {
            height: 150px;
            width: 100%;
            overflow: hidden;
        }

        .main-rowService .index-staregy .content .show-list li:first-child {
            margin-top: 10px;
        }

        .main-rowService .index-staregy .content .show-list li a {
            color: #000;
            font-size: 16px;
            line-height: 30px;
        }

        .main-rowService .index-staregy .content .show-list li {
            color: #000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 90%;
        }

        .main-rowService .index-staregy .content .show-list li a:hover {
            color: #f0695a;
        }

        /**/
        .main-rowService .index-hd .show-list li {
            color: #000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: 1px solid #a7a7a7;
            padding: 0px;
            margin: 0px;
        }

        .main-rowService .index-hd .show-list li:last-child {
            border-bottom: 0px;
        }

        .main-rowService .index-hd {
            padding: 0px;
        }

        .main-rowService .index-hd .content {
            border: 1px solid #000;
            padding: 0px;
            margin: 0px;
            height: 350px;
        }

        .main-rowService .index-hd .content .col-xs-6 {
            padding: 0px;
        }

        .main-rowService .index-hd .show-list li a {
            font-size: 18px;
            padding: 15px 10px;
            height: 60px;
            line-height: 56px;
            color: #000;
            font-weight: 500;
        }

        .main-rowService .index-hd .show-list li a:hover {
            background-color: #DE280A;
            color: #fff;
        }

        .main-rowService .index-hd .show-img {
            padding-left: 10px;
        }

        .main-rowService .index-hd .show-img img {
            height: 340px;
        }

        .main-rowService .ticket .content {
            border: 1px solid #000;
            height: 350px;
            padding: 10px;
        }

        .main-rowService .index-hd .left-toggle {
            height: 54px;
            position: absolute;
            right: -20px;
            z-index: 10000;
            width: 30px;
            top: 1px;
            display: none;
        }
    </style>
    <div class="row main-rowService" style="margin-top: 5px;">
        <!--标题通用-->
        <div class="top-title row">
            <div class="col-xs-5 bg-flower-left">
                <img class="img-responsive" src="__PUBLIC__/Home/images/index/bg-flower.png">
            </div>
            <div class="col-xs-2 title-center text-center">
                <label class="title-zn">景区服务</label>
                <div class="title-en">SCENIC SERVICE</div>
            </div>
            <div class="col-xs-5 bg-flower-right">
                <img class="img-responsive" src="__PUBLIC__/Home/images/index/bg-flower.png">
            </div>
        </div>

        <div class="row news-list">

            <div class="col-xs-3 ticket">
                <div class="s-head">
                    <p><img src="__PUBLIC__/Home/images/min-flower.png"></p>
                    <h3 class="big-title">票务信息</h3>
                </div>
                <div class="content">
                    <a href="{:U('Article/detail?id=127')}" target="_blank" class="btn btn-block">团购预订</a>
                    <a href="{:U('Article/detail?id=128')}" target="_blank" class="btn btn-block">限时优惠</a>
                    <a href="{:U('Article/detail?id=126')}" target="_blank" class="btn btn-block">订票指南</a>
                </div>
            </div>
            <div class="col-xs-6 index-hd">
                <div class="s-head">
                    <p><img src="__PUBLIC__/Home/images/min-flower.png"></p>
                    <h3 class="big-title">旅游活动</h3>
                </div>
                <div class="content row">
                    <div class="col-xs-6 ">
                        <php>$indexHd=getIndexLvHdSp(6);</php>
                        <div class="show-list">
                            <ul class="list-group list-unstyled">
                                <img id="left-toggle" class="left-toggle" src="__PUBLIC__/Home/images/go-left-logo.png">
                                <volist name="indexHd" id="vo" key="k">
                                    <li class="index-hd-li-n" data-id="{$k}"><a
                                            href="{:U('Article/detail',array('id'=>$vo['id']))}">{$vo.title}</a>
                                    </li>
                                </volist>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="show-img">
                            <img class="img-lazy img-responsive"
                                 src="__PUBLIC__/Home/images/loading.gif"
                                 data-original="__PUBLIC__/Home/images/straregy-log.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 index-staregy">
                <div class="s-head">
                    <p><img src="__PUBLIC__/Home/images/min-flower.png"></p>
                    <h3 class="big-title">旅游攻略</h3>
                </div>
                <php>$index_Stategy=getIndexStaregySp(6);</php>
                <div class="content">
                    <div class="show-img">
                        <img class="img-lazy img-responsive"
                             src="__PUBLIC__/Home/images/loading.gif"
                             data-original="__PUBLIC__/Home/images/straregy-log.png"/>
                    </div>
                    <div class="show-list">
                        <ul class="list list-unstyled">
                            <volist name="index_Stategy" id="vo">
                                <li><a target="_blank"
                                       href="{:U('Article/detail',array('id'=>$vo['id']))}">{$vo.title}</a></li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
            <script>
                $(function () {
                    $(".index-hd-li-n").mouseover(function () {
                        var s = $(this).height();
                        var count = parseInt($(this).attr("data-id")) - 1;
                        $("#left-toggle").css("top", s * count + 1 * (count + 1) + "px");
                        $("#left-toggle").show();
                    });
                    $(".index-hd-li-n").mouseout(function () {
                        $("#left-toggle").hide();
                    });
                });
            </script>
        </div>

    </div>


    <style>
        .main-rowTraffic .content {
            padding: 5px;
            background: #fff;
            margin: 20px 40px;
        }

        .main-rowTraffic .content .head-img img, .main-rowTraffic .content .right-content {
            height: 350px;
        }

        .main-rowTraffic .content .right-content {
            font-size: 14px;
            padding: 20px;
            background-color: #FDF1E3;
        }

        .main-rowTraffic .content .title {
            font-size: 18px;
        }
    </style>
    <div class="row main-rowTraffic" style="margin-top: 5px;">
        <!--标题通用-->
        <div class="top-title row">
            <div class="col-xs-5 bg-flower-left">
                <img class="img-responsive" src="__PUBLIC__/Home/images/index/bg-flower.png">
            </div>
            <div class="col-xs-2 title-center text-center">
                <label class="title-zn">交通路线</label>
                <div class="title-en">SCENIC TRAFFIC</div>
            </div>
            <div class="col-xs-5 bg-flower-right">
                <img class="img-responsive" src="__PUBLIC__/Home/images/index/bg-flower.png">
            </div>
        </div>

        <div class="row content">
            <div class="col-xs-7 head-img">
                <img class="img-lazy img-responsive" src="__PUBLIC__/Home/images/position-map.png"
                     data-original="__PUBLIC__/Home/images/position-map.png">
            </div>
            <div class="col-xs-5 right-content">
                <div>
                    <p class="title">路线指引：</p>
                    <p>公交车路线：从南客站出发——长宁班线——到长宁之后在转乘长宁公交——城乡路线</p>
                    <p>公交车路线：从南客站出发——长宁班线——到长宁之后在转乘长宁公交——城乡路线</p>
                    <p>自驾车路线一：从宜宾南岸出发——经过南广桥往长宁方向——一段路之后上高速——快到达长宁时下高速——走 快速通道</p>
                </div>
            </div>
        </div>
    </div>


    <style>

        .row-FriendLink {
            padding: 10px 0px;
            background-color: rgba(226, 234, 228, 0.92);
        }

        .row-FriendLink .content {
            min-height: 80px;
            background-color: #FB812F;
            padding: 10px;
        }

        .row-FriendLink .content ul {
            text-align: center;
            margin: 0px;
        }

        .row-FriendLink .content ul li {
            border-right: 2px solid #fff;
            margin-top: 10px;
            padding: 0px 10px;
        }

        .row-FriendLink .content ul li:last-child {
            border-right: 0px solid #fff;
        }

        .row-FriendLink .content ul li a {
            color: #fff;
            line-height: 20px;
            font-size: 15px;
        }
    </style>
    <div class="row row-FriendLink" style="margin-top: 5px">
        <div class="content">
            <h4 style="color: #fff;line-height: 20px;margin: 0px;">友情链接：</h4>
            <ul class="list-unstyled list-inline">
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
            </ul>
            <ul class="list-unstyled list-inline">
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
                <li><a href="#">宜宾花海</a></li>
            </ul>
        </div>
    </div>
</block>