<!--公告页面-->
<extend name="Base/common"/>

<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/transport.css">
</block>

<block name="body">
    <div class="row main-body">


        <include file="Pages/tran_left"/>


        <div class="col-md-8 main-right">
            <div class="breadcrumb-head">
                <ul class="list-inline">
                    <li><span>当前位置：</span></li>
                    <li><a href="#">首页</a></li>
                    <li><span>></span></li>
                    <li><a href="#">交通信息</a></li>
                    <li><span>></span></li>
                    <li class="active">Data</li>
                </ul>
            </div>

        </div>
    </div>
</block>