<!-- 底部
================================================== -->
<style>

</style>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-left">
                <ul class="list-group list-inline">
                    <li><a href="#">关于我们</a></li>
                    <li class="split-ver"></li>
                    <li><a href="#">旅游项目</a></li>
                    <li class="split-ver"></li>
                    <li><a href="#">走近花海</a></li>
                    <li class="split-ver"></li>
                    <li><a href="#">旅游攻略</a></li>
                    <li class="split-ver"></li>
                    <li><a href="#">联系我们</a></li>
                    <li class="split-ver"></li>
                    <li><a href="#">意见反馈</a></li>
                    <li class="split-ver"></li>
                    <li><a href="#">交通路线</a></li>
                </ul>
                <p>
                    页面版权所有-{:C('WEB_SITE_COPYRIGHT')}
                </p>
                <p class="copyright">备案号：{:C('WEB_SITE_ICP')}</p>
                <p>网站主办单位：宜宾市长宁县旅游管理局</p>

            </div>
            <div class="col-md-6 row footer-right">
                <ul class="list-inline">
                    <li class="text-center">
                        <img src="__PUBLIC__/Home/images/qrcode-wechat.png">
                        <br>
                        <span class="qrcode-text">官方微信</span>
                    </li>
                    <li class="text-center">
                        <img src="__PUBLIC__/Home/images/qrcode-weibo.png">
                        <br>
                        <span class="qrcode-text">官方微博</span>
                    </li>
                    <li class="icon-phone">
                        <img src="__PUBLIC__/Home/images/icon-phone.png">
                    </li>
                    <li class="text-center kefu">
                        <label>宜宾统一服务热线：</label>
                        <p>{:C('WEB_SITE_FUWUPHONE')}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container end-bottom">
        <p>
            <span>地址：中国四川长宁县长宁镇</span>
            <span>电话：0831-7249166 </span>
            <span>花漫淯江景区内部应急救援电话：0831-7249006</span>
            <span>违法和不良信息举报:86968709</span>
        </p>
    </div>
</footer>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
    <block name="hidden"></block>
</div>
