<meta charset="UTF-8">
<title>
    {:C('WEB_SITE_TITLE')}
    <block name="title"></block>
</title>
<!--<meta name="viewport" content="width=device-width,initial-scale=1.0">-->
<link href=" __PUBLIC__/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
<block name="style">

</block>
<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/libs/bootstrap/js/bootstrap.min.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="__PUBLIC__/libs/jquery/lazyload.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/common.js"></script>
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
