<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
    <script src="__PUBLIC__/libs/ey-ui/js/ey.js"></script>

    <style>


        @font-face {
            font-family: 'ey';
            src: url('__PUBLIC__/libs/ey-ui/font/ParkAvenueBT-Regular.otf');
            src: local('ey'),
        }

        .nav-title-end {
            font-family: ey;
            font-size: 30px;
        }
    </style>
</head>
<body>
<!-- 头部 -->
<include file="Public/header"/>
<!-- /头部 -->

<!-- 主体 -->
<div id="main-container" class="container">
    <block name="body">

    </block>
</div>

<script type="text/javascript">
    $(function () {
        $(window).resize(function () {
            $("#main-container").css("min-height", $(window).height() - 343);
        }).resize();
    })
</script>
<!-- /主体 -->

<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
</body>
</html>
