<div class="detail detail-jchd">
    <!-- 头部 -->
    <div class="row">
        <div class="detail-header">
            <img src="__PUBLIC__/Wap/images/logo_action.png"/>
            <span class="box-title">精彩活动</span>
        </div>
    </div>
    <!-- 内容主体 -->
    <div class="row">
        <div class="detail-content">
            <div class="row play-item">
                <div class="col-xs-3">
                    <img class="img-circle img-responsive" src="__PUBLIC__/Wap/images/play_testimg.png"/>
                </div>
                <div class="col-xs-8 text-center">
                    <div class="palyname">
                        <a href="#"><h3>傣族风情</h3></a>
                        <a href="#">活动时间：2016-6-30</a>
                    </div>
                </div>
                <div class="col-xs-1">
                    <p class="logo-p"></p>
                </div>
            </div>
            <div class="row play-item">
                <div class="col-xs-3">
                    <img class="img-circle img-responsive" src="__PUBLIC__/Wap/images/play_testimg.png"/>
                </div>
                <div class="col-xs-8 text-center">
                    <div class="palyname">
                        <a href="#"><h3>傣族风情</h3></a>
                        <a href="#">活动时间：2016-6-30</a>
                    </div>
                </div>
                <div class="col-xs-1">
                    <p class="logo-p"></p>
                </div>
            </div>
            <div class="row play-item">
                <div class="col-xs-3">
                    <img class="img-circle img-responsive" src="__PUBLIC__/Wap/images/play_testimg.png"/>
                </div>
                <div class="col-xs-8 text-center">
                    <div class="palyname">
                        <a href="#"><h3>傣族风情</h3></a>
                        <a href="#">活动时间：2016-6-30</a>
                    </div>
                </div>
                <div class="col-xs-1">
                    <p class="logo-p"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="detail-footer text-center">
            <a href="#" class="more text-green"><h4>查看更多</h4></a>
        </div>
    </div>
</div>