<div class="detail detail-type-2">
    <!-- 头部 -->
    <div class="row">
        <div class="detail-header">
            <img src="__PUBLIC__/Wap/images/logo_travel.png"/>
            <span class="box-title">景区导览</span>
        </div>
    </div>
    <!-- 内容主体 -->
    <div class="detail-content">
        <div class="row head-article">
            <volist name="data_list" id="vo" key="k">
                <php>
                    if($k>1){
                         break;
                    }
                </php>
                <a href="{:U('Article/detail',array('id'=>$vo['id']))}">
                    <div class="col-xs-5">
                        <img class="img-lazy img-responsive"
                             src="__PUBLIC__/Home/images/loading.gif"
                             data-original="{:get_cover($vo['cover_id'],'path')}"/>
                    </div>
                    <div class="col-xs-7">
                        <span class="title">{$vo.title}</span>
                        <p class="article-desc">
                            {$vo.description}
                        </p>
                    </div>
                </a>
            </volist>
        </div>
        <div class="row">
            <ul class="list-group gl-list list-unstyled">
                <volist name="data_list" id="vo" key="k">
                    <php>
                        if($k<=1){
                            continue;
                        }
                    </php>
                    <li>
                        <a href="{:U('Article/detail',array('id'=>$vo['id']))}">{$vo.title}</a>
                    </li>
                </volist>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="detail-footer text-center">
            <a href="{:U('Article/walk')}" class="more text-green"><h4>查看更多</h4></a>
        </div>
    </div>
</div>
