<div class="detail detail-jqfj">
    <!-- 头部 -->
    <div class="row">
        <div class="detail-header">
            <img src="__PUBLIC__/Wap/images/logo_beauty.png"/>
            <span class="box-title">景区美景</span>
        </div>
    </div>
    <!-- 内容主体 -->
    <div class="row">
        <div class="detail-content">
            <div class="col-xs-12 beauty_big">
                <img class="img-responsive" src="__PUBLIC__/Wap/images/beauty_big.png"/>
                <div class="picture_info">
                    <p><a href="#">有一种美，叫做只属于夕阳湖之美！</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="detail-content img-content">
            <div class="col-xs-4 beauty_lit">
                <img class="img-responsive" src="__PUBLIC__/Wap/images/beauty_lit.png"/>
                <div class="picture_info">
                    <p><a href="#">花园淯江，淯江花园</a></p>
                </div>
            </div>
            <div class="col-xs-4 beauty_lit">
                <img class="img-responsive" src="__PUBLIC__/Wap/images/beauty_lit.png"/>
                <div class="img-responsive" class="picture_info">
                    <p><a href="#">花园淯江，淯江花园</a></p>
                </div>
            </div>
            <div class="col-xs-4 beauty_lit">
                <img class="img-responsive" src="__PUBLIC__/Wap/images/beauty_lit.png"/>
                <div class="picture_info">
                    <p><a href="#">花园淯江，淯江花园</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="detail-footer text-center">
            <a href="#" class="more text-green"><h4>查看更多</h4></a>
        </div>
    </div>
</div>