<extend name="Base/common"/>
<block name="body">
    <style>

        #main-container {
            background-color: #F4F8EE;
        }

        .travel {
            padding-top: 10px;
        }

        .travel .breadcrumb-head {
            border-bottom: none;
            padding: 15px 20px;
            font-size: 15px;
        }

        .travel .content-title {
            border-bottom: 2px solid #f6723b;
            margin-top: 20px;
        }

        .travel .content-title img {
            height: 40px;
        }

        .travel .content-header {
            margin-top: 20px;
            padding: 10px 30px 10px;
            background: #F3DEB1;
            font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 20px;
            color: #b65b31;

        }

        .travel .content-view-list {
            padding: 10px;
        }

        .travel .content-view-list .foods-item {
            text-align: center;
            cursor: pointer;
            padding: 0px 10px;
            margin-bottom: 10px;
        }

        .travel .content-view-list .foods-item .foods-img {
            height: 200px;
            width: 100%;
        }

        .travel .content-view-list .foods-item:hover .foods-hover-show {
            height: 60px;
            color: #fff;
            line-height: 60px;
        }

        .travel .content-view-list .foods-hover-show-box {
            position: absolute;
            bottom: 0px;
            width: 100%;
            padding-right: 20px;
        }

        .travel .content-view-list .foods-hover-show-box .foods-hover-show {
            background-color: rgba(152, 152, 152, 0.37);
            height: 30px;
            transition: .4s height;
            line-height: 30px;
            color: #fff;
        }

        .travel .content-view-list .foods-hover-show-box .foods-hover-show .foods-name {
            font-size: 18px;
        }
    </style>
    <div class="travel">

        <div class="row breadcrumb-head">
            <ul class="list-inline">
                <li><span>当前位置：</span></li>
                <li><a href="#">首页</a></li>
                <li><span>></span></li>
                <li><a href="#">旅游项目</a></li>
                <li><span>></span></li>
                <li class="active">淯江美食</li>
            </ul>
        </div>
        <include file="Widget/nav_food_imgs"/>

        <!--title-->
        <div class="row content-title">
            <img src="__PUBLIC__/Home/images/travel/youyujiang.png"/>
        </div>

        <!--header-->
        <div class="row content-header">
            <span>美食推荐</span>
        </div>

        <!--推荐详情-->
        <div class="row content-view-list">
            <div class="col-xs-3 foods-item">
                <img class="img-lazy foods-img" src="__PUBLIC__/Home/images/foods/foods_1.png">
                <div class="foods-hover-show-box">
                    <div class="foods-hover-show">
                        <span class="foods-name">白砍鸡</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 foods-item">
                <img class="img-lazy foods-img" src="__PUBLIC__/Home/images/foods/foods_2.png">
                <div class="foods-hover-show-box">
                    <div class="foods-hover-show">
                        <span class="foods-name">白砍鸡</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 foods-item">
                <img class="img-lazy foods-img" src="__PUBLIC__/Home/images/foods/foods_3.png">
                <div class="foods-hover-show-box">
                    <div class="foods-hover-show">
                        <span class="foods-name">白砍鸡</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 foods-item">
                <img class="img-lazy foods-img" src="__PUBLIC__/Home/images/foods/foods_4.png">
                <div class="foods-hover-show-box">
                    <div class="foods-hover-show">
                        <span class="foods-name">白砍鸡</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 foods-item">
                <img class="img-lazy foods-img" src="__PUBLIC__/Home/images/foods/foods_1.png">
                <div class="foods-hover-show-box">
                    <div class="foods-hover-show">
                        <span class="foods-name">白砍鸡</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 foods-item">
                <img class="img-lazy foods-img" src="__PUBLIC__/Home/images/foods/foods_2.png">
                <div class="foods-hover-show-box">
                    <div class="foods-hover-show">
                        <span class="foods-name">白砍鸡</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 foods-item">
                <img class="img-lazy foods-img" src="__PUBLIC__/Home/images/foods/foods_3.png">
                <div class="foods-hover-show-box">
                    <div class="foods-hover-show">
                        <span class="foods-name">白砍鸡</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 foods-item">
                <img class="img-lazy foods-img" src="__PUBLIC__/Home/images/foods/foods_4.png">
                <div class="foods-hover-show-box">
                    <div class="foods-hover-show">
                        <span class="foods-name">白砍鸡</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 foods-item">
                <img class="img-lazy foods-img" src="__PUBLIC__/Home/images/foods/foods_1.png">
                <div class="foods-hover-show-box">
                    <div class="foods-hover-show">
                        <span class="foods-name">白砍鸡</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 foods-item">
                <img class="img-lazy foods-img" src="__PUBLIC__/Home/images/foods/foods_4.png">
                <div class="foods-hover-show-box">
                    <div class="foods-hover-show">
                        <span class="foods-name">白砍鸡</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 foods-item">
                <img class="img-lazy foods-img" src="__PUBLIC__/Home/images/foods/foods_3.png">
                <div class="foods-hover-show-box">
                    <div class="foods-hover-show">
                        <span class="foods-name">白砍鸡</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 foods-item">
                <img class="img-lazy foods-img" src="__PUBLIC__/Home/images/foods/foods_4.png">
                <div class="foods-hover-show-box">
                    <div class="foods-hover-show">
                        <span class="foods-name">白砍鸡</span>
                    </div>
                </div>
            </div>
        </div>
        <!--header-->
        <div class="row content-header">
            <span>景区内餐饮</span>
        </div>

        <div class="row content-view-list">
            <volist name="eat_list" id="vo">
                <div class="col-xs-3 foods-item">
                    <img class="img-lazy foods-img"
                         src="__PUBLIC__/Home/images/loading.gif"
                         data-original="{:get_cover($vo['cover_id'],'path')}"/>
                    <div class="foods-hover-show-box">
                        <div class="foods-hover-show">
                            <span class="foods-name">白砍鸡</span>
                        </div>
                    </div>
                </div>
            </volist>
        </div>

    </div>
</block>